# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

*.bin/Debug
*.bin/Release
*.obj/Debug
*.obj/Release

*.slo
*.lo
*.o

*.ilk
*.pdb
*.log
*.idb
*.exp
*.iobj
*.ipdb
*.tlog
*.tlog/
*.lastbuildstate

*.csproj.user
*.vbproj.user

*.sdf
*.user
*.suo

Intermediates/
ipch/
